<div class="header">
  <div class="line1">
    <div class="container">
      <div class="col1"></div>
      <div class="col2"></div>
    </div>
  </div>
  <div class="line2"></div>
  <div class="logo">
    <img src="images/logo.png" alt="IFRN">
    <h1>Corrente da Ciência</h1>
  </div>
</div>

<div class="container-map">
  <div id="map"></div>
  <div id="footer">
    <span>IP: <%= @ip %> | Latitude: <span id="footer-lat"><%= @lat %></span> | Longitude: <span id="footer-lng"><%= @long %></span> | <span id="footer-city"><%= @city %> - <%= @uf %></span> - <span id="footer-country"><%= @country %></span> <i class="ion-ios-location-outline"></i></span>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Caro visitante,</h4>
      </div>
      <div class="modal-body">
        <p></p>
        <p>Este projeto de pesquisa, denominado <b>Corrente da Ciência</b>,
          visa o monitoramento e análise de dados da propagação de "correntes" em redes sociais,
          com ênfase inicial no What'sApp. Para isso, é muito importante que você permita a coleta
          da geolocalização (caixa de diálogo que aparecerá a seguir).</p>
        <p>Assim, será possível gerar um mapa que ilustre a disseminação dessa mensagem.</p>
        <p>Certos de vossa compreensão, agradecemos a participação nesta pesquisa!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
      </div>
    </div>

  </div>
</div>

<% content_for :javascript do %>
    <script type='text/javascript'>
      $(document).ready()
      {
        $('#myModal').modal('show');
        $('#myModal').on('hidden.bs.modal', function () {
          buildMap();
        });
      };

      var handler = Gmaps.build('Google');
      function buildMap(){
        handler.buildMap({ internal: {id: 'map'} }, function(){
          // be aware chrome >= 50 requires https for geolocation to work
          if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(displayOnMap);
          }
        }); // TODO Caso se recuse a compartilhar a geolocalização
      }

      function displayOnMap(position){
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        $('#footer-lat').text(lat);
        $('#footer-lng').text(lng);

        var marker = handler.addMarker({
          lat: lat,
          lng: lng
        });
        handler.map.centerOn(marker);
        //handler.bounds.extendWith(markers);
        //handler.fitMapToBounds();

        $.ajax({
          type: 'GET',
          url: '/location',
          data: { lat: lat, lng: lng },
          contentType: 'application/json',
          dataType: 'json',
          success:function(data) {
            console.log(data);
            var city = data['data']['city'];
            var country = data['data']['country'];
            $('#footer-city').text(city);
            $('#footer-country').text(country);
          }
        }).done(function(data){
          console.log(data);
        });
      };
    </script>
<% end %>