<div class="container-map">
  <div id="map"></div>
</div>

<div class="modal fade in" id="modal_form" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Não foi possível obter a sua localização
        </h4>
      </div>
      <div class="modal-body">
        <p></p>
        <p>Para participar, por favor, nos informe seu estado e sua cidade:</p>
        <p></p>
        <%= bootstrap_form_for @user do |f| %>
            <%= f.select :estado_id,
                                 Estado.select('nome_sigla'),
                                 {prompt: "Selecione", selected: '', label: 'Estado *'},
                                 {onChange: 'javascript: verificar_estado();'} %>
            <br>
            <%= f.select :cidade_id,
                                 {},
                                 {prompt: "Selecione", selected: '', label: 'Cidade *'},
                                 { disable: true } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button id="modal-error-go" type="button" class="btn btn-primary" data-dismiss="modal" onclick="send_city()">Enviar</button>
      </div>
    </div>

  </div>
</div>

<%= content_for :javascript do %>
    <script type='text/javascript'>

        var map = null;

        function initModal() {
          $('#modal_form').modal('show');
        }

        function buildMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: -15.7942, lng: -47.8825 } // Brasília
          });

          options = {
            maximumAge: 600000 // 10 minutos
          };

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var location = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              show_confirmation(location.lat, location.lng);
              send_location(location.lat, location.lng);
            }, function(err) {
              initModal();
            }, options);
          } else {
            // Browser doesn't support Geolocation
            initModal();
          }
        }

        function show_confirmation(lat, lng) {
          var location = { lat: lat, lng: lng };

          infoWindow = new google.maps.InfoWindow;
          infoWindow.setPosition(location);
          infoWindow.setContent('Obrigado pela participação!');
          infoWindow.open(map);
          map.setCenter(location);
        }

        function send_location(lat, lng) {
            $.ajax({
                type: 'POST',
                url: '/create_by_location',
                data: { lat: lat, lng: lng },
                success: function (data) {
                  console.log(data);
                }
            });
        }

        function send_city() {
          cidade_id = $("#usuario_cidade_id").val();
          estado_id = $("#usuario_estado_id").val();

          $.ajax({
              type: 'POST',
              url: '/create_by_city',
              data: { city: cidade_id, uf: estado_id },
              success: function (position) {
                show_confirmation(position.lat, position.lng);
              }
          });
        }

        function verificar_estado() {
          estado_id = $("#usuario_estado_id").val();
          if(estado_id != -1) {
            getCities(estado_id);
          }
        }

        function getCities(estado_id) {
            cidades = $("#usuario_cidade_id");
            cidades.select2({
                theme: 'bootstrap',
                language: "pt-BR",
                ajax: {
                    url: "<%= cidades_path %>",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            q: params.term,
                            estado_id: estado_id,
                            page: params.page
                        }
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.nome,
                                    id: item.id
                                }
                            })
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 3
            });

            cidades.next().addClass('form-control');
        }
    </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrbu5vz973WwL_JhQBRtGx3O2-lkYabSg&callback=buildMap"></script>
<% end %>
