<div class="painel col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
  <h1>Quem somos?</h1>
  <div class="row">
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'jose-dijon.jpg', class: 'img-responsive img-circle' %>
      <h4>Dijon Neto</h4>
      <p class="text-muted">Orientando</p>
      <a href="https://github.com/jdoneto" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/1172375657338862" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'jalerson-lima.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Jalerson Lima</h4>
      <p class="text-muted">Professor Orientador</p>
      <a href="https://github.com/jalerson" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/4433845814879129" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'erick-bergamini.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Erick Bergamini</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/erick-bergamini" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/0903315376877490" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'charles.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Charles Cesar</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/charles-freitas" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/7442339090043125" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'allan-garcia.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Allan Garcia</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/allangarcia" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/8700674838201183" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'everton.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Everton Almeida</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/everton-almeida" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/9611425125370310" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'joao-paulo.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. João Paulo</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/joaopaulorn" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/2413250851590746" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
    <div class="team-member col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'clauber.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Clauber Bezerra</h4>
      <p class="text-muted">Professor Colaborador</p>
      <a href="https://github.com/claubergb" target="_blank"><%= image_tag 'github.png' %></a>&nbsp;
      <a href="http://lattes.cnpq.br/2442753555946120" target="_blank"><%= image_tag 'lattes.png' %></a>
    </div>
  </div>
</div>
