<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @message.name %> enviou uma mensagem!</h1>
<p>
  Segue abaixo os dados pessoais e a mensagem.<br>
  <strong>Nome: </strong><%= @message.name %>.<br>
  <strong>Email: </strong><%= @message.email %>.<br>
  <strong>Telefone: </strong><%= @message.phone %>.<br>
  <strong>Mensagem: </strong><%= @message.content %>
</p>
</body>
</html>